* {

    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {

    font-size: 16px;
    color: black;
    background-color: white;
}

img {

    max-width: 100%;
}

ul li {
    list-style: none;
}

.container {
    max-width: 1100px;
    margin: 0 auto;



}

nav {
    background-color: #FFCF81;
    height: 110px;
}

nav .container {


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}



nav .container .logo {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-top: 5px;
    background-color: #FFCF81;


}

nav .logo img {
    width: 100px;
    border-radius: 50% 50% 50% 50%;
    border: solid 2px burlywood;
    transition: background-color 300ms ease-in-out;

}

nav .logo img:hover {
    background-color: skyblue;
    transform: translate(3px, 3px);
}

nav .logo h1 {
    margin-left: 3px;
    font-size: 18px;
    font-weight: bold;
}

nav .container ul {

    display: flex;
    flex-direction: row;
    justify-content: left;
    /* margin-left: 80px;  */
}

nav .container ul li {

    font-size: 16px;
    font-weight: bold;
}

header {

    min-height: 400px;
    color: black;
    background-color: #FFB996;
}

header .container {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;


}

header .container .slogan {

    color: black;
    font-size: 20px;
    font-weight: bold;
}

.slogan span {
    font-size: 16px;
    text-align: justify;
    text-justify: inter-word;
}


header .container .header-image {


    background-color: #FFB996;
    margin-left: -20px;
    transition: background-color 300ms ease-in-out;
}

header .container .header-image:hover {
    transform: translate(10px, 0px);
}

section {

    background-color: #FDFFAB;
    min-height: 400px;
}

section .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    height: 100%;


}

section .container .box {

    width: 200px;
    height: 300px;
    background-color: #D9EDBF;
    box-shadow: 2px 2px 2px #FFB996;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #FFB996;
    position: relative;
    transition: background-color 300ms ease-in-out;


}

section .container .box:hover {

    background-color: #789461;
    transform: scale(1.1);
}


.box .box-image {
    width: 200px;

}

.box span {
    position: absolute;
    top: 240px;
    left: 15px;
    font-size: 16px;
    font-weight: bold;
}

footer {

    background-color: #D9EDBF;
    min-height: 200px;
    font-weight: bold;

}

footer .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    padding-top: 50px;

}

@media (max-width:480px) {

    nav {
        background-color: #FFCF81;
        height: auto;
    }


    nav .container {

        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 10px;
        align-items: center;

    }

    nav .container ul {

        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        /* margin-left: 80px;  */
    }
    header .container {

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        padding: 10px;
    
    
    }

    header .container .slogan {

        color: black;
        font-size: 15px;
        font-weight: bold;
    }

    .slogan span{

        text-align: justify;
        font-weight: normal;
        font-size: 15px;
        margin-top: 3px;
    }

}